{% extends "base.html.twig" %}

{% block body %}
<h1>ajouter un article</h1>
{{form_start(form) }}

{{ form_row(form.Titre) }}
{{ form_row(form.Content) }}
{{ form_row(form.Image) }}

<button type="submit" class="btn btn-primary">sauvegarder</button>



{{form_end(form) }}

{% endblock %}